apiVersion: apps/v1
kind: Deployment
metadata:
  name: event-backend
  labels:
    app: event-backend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: event-backend
  template:
    metadata:
      labels:
        app: event-backend
    spec:
      containers:
        - name: backend
          image: gayithri123/event_backend:latest
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 3000
---
apiVersion: v1
kind: Service
metadata:
  name: event-backend-service
spec:
  selector:
    app: event-backend
  ports:
    - protocol: TCP
      port: 3000
      targetPort: 3000
  type: NodePort
